#header {
    padding: 5px;
    background: black;
    position: fixed;
    height: 65px;
    width: 100%;
}

#logo {
    position: fixed;
    padding: 12px;
}

nav {
    font-size: 18px;
    display: inline-block;
    width: 100%;
}

nav > ul {
    text-align: center;
}

nav > ul > li {
    display: inline-block;
}

a {
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
}