<div id="header">
    <a id="logo" routerLink="/home" routerLinkActive="active">
        <img src="./assets/RIU_Logo.png" alt="Run It Up Logo">
    </a>
    <nav role="navigation" class="main-nav">
        <ul class="nav-group nav-group--top-bar">
            <li><a target="_blank" href="https://www.twitch.tv/runitup"><mat-icon svgIcon="twitch"></mat-icon>Watch</a></li>
            <!--li><a href="https://runitup.com/calendar/"><mat-icon>calendar_today</mat-icon></a></li-->
            <!--li><a href="./assets/RIU-Reno-October-2018-Structures-1.pdf"><mat-icon>picture_as_pdf</mat-icon></a></li-->
            <li><a target="_blank" href="https://discordapp.com/invite/RUNITUP"><mat-icon svgIcon="discord"></mat-icon>Chat</a></li>
            <!--li><a href="https://twitter.com/runitup"><mat-icon svgIcon="twitter"></mat-icon>RunItUp</a></li-->
            <li><a target="_blank" href="https://twitter.com/runitupreno"><mat-icon svgIcon="twitter"></mat-icon>RunItUpReno</a></li>
            <!--li><a href="https://twitter.com/gretorp"><mat-icon svgIcon="twitter"></mat-icon>Andre</a></li-->
            <li><a target="_blank" href="https://www.32auctions.com/RunItUpAuction">Auction</a></li>
            <li><a target="_blank" href="https://runitup.myshopify.com/" class="last"><mat-icon>shopping_cart</mat-icon>Shop</a></li>
        </ul>
    </nav>
</div>
