<div id="header">
    <a id="logo" routerLink="/home" routerLinkActive="active">
        <img src="./assets/RIU_Logo.png" alt="Run It Up Logo">
    </a>
    <nav role="navigation" class="main-nav">
    <ul class="nav-group nav-group--top-bar">
        <li><a routerLink="/discover">Watch</a></li>
        <li><a routerLink="/kids">Calendar</a></li>
        <li><a routerLink="/parkofficials">Twitter</a></li>
        <li><a routerLink="/donate">RIU Stats</a></li>
        <li><a routerLink="/team">Our Team</a></li>
        <li><a routerLink="/contact" class="last">Contact Us</a></li>
    </ul>
    </nav>
    </div>