#footer{
    background: black;
    text-align: center;
    height: 65px;
    width: 100%;
    line-height: 30px;
    font-size: 0.8em;
}

a {
    color: white;
}

mat-icon {
    color: white;
    margin: 0 10px;
}
