<div id="footer">
    <div style="float: left; padding-left: 10px;">
            <div><a target="_blank" href="https://runitup.com/">Run It Up HomePage</a></div>
            <div (click)="onDisclosures()" style="text-decoration: underline;">Disclosures & Privacy</div>
    </div>

    <div style="float: right;">
        <div>By Matthew Yeager</div>
        <div>
            <a target="_blank" href="mailto:matthewbrandonyeager+riu@gmail.com"><mat-icon>mail_outlined</mat-icon></a>
            <a target="_blank" href="https://www.linkedin.com/in/matthewbrandonyeager"><mat-icon svgIcon="linkedin"></mat-icon></a>
            <a target="_blank" href="https://github.com/Jagermeister/riureno"><mat-icon svgIcon="github"></mat-icon></a>
        </div>
    </div>
</div>