#event {
    position: absolute;
    cursor: pointer;
}

.mat-tooltip-default {
  font-size: 18px;
}
mat-icon {
    vertical-align: middle;
}
div.card {	
    background: linear-gradient(135deg, #6200ee, rgba(45,44,51, 0) 66%);
    border-radius: 4px;
}

div.social {	
    background: linear-gradient(135deg, green, rgba(45,44,51, 0) 66%);
    border-radius: 4px;
}

div.charity {	
    background: linear-gradient(135deg, gold, rgba(45,44,51, 0) 66%);
    border-radius: 4px;
    color: black;
}

div.MainEvent {	
    background: linear-gradient(135deg, #3F51B5, rgba(45,44,51, 0) 66%),	
                linear-gradient(200deg, #2196F3, rgba(45,44,51, 0) 35%);
    border-radius: 4px;
}

#gtd {
    font-size: 1.1em;
    color: #00f742;
    padding: 0 10px;
}
