
<div style="
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    height: 100%;
">
<div style="
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;	
    left: 0;
">
    <!--app-filter (name)="onName($event)"></app-filter-->
    <br/>
<div style="
    overflow-x: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*flex-flow: row wrap;*/
    grid-template-rows: auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
    height: 100%;
">
    <app-day *ngFor="let day of days" [day]="day"></app-day>
</div>
</div>
</div>